.Week {
  background-color: #006666;
  color: #99FFFF;
  text-align: center;
}
.text{
  background-color: #DCDCDC;
}
body{
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;
  padding: 1em;
}
