header{
  background-color: #696969;
  color: #DDA0DD;
  text-align: center;
}
main{
  background-color: #DCDCDC;
}
body{
  background-image: url("/assignment/record.png");
  background-repeat: repeat;
  margin: 0;
  padding: 1em;
}
